# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environments
.env
.venv
env/
venv/
ENV/

# Editors/IDE
.vscode/
.idea/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Logs
*.log

# Node
node_modules/

# Jekyll build (if used locally)
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
