# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Logs
logs
*.log

# Env
.env

# Coverage
coverage/

# Build artifacts
build/
dist/
.tmp/

# OS
.DS_Store
Thumbs.db
